/*CSS CONFIG*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #14445e;
  font-family: 'Arial', sans-serif;
  line-height: 1.3;
}
a,
:visited,
:focus,
:active,
:hover {
  outline: none;
  text-decoration: none;
}
.tempKill {
  display: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
#bodyWrapper {
  position: relative;
  max-width: 950px;
  margin: auto;
}
.bodyWrapper-content {
  position: relative;
  display: block;
  padding: 3rem;
  text-align: center;
}
.spacer {
  position: relative;
  display: block;
}
.spacer-30 {
  height: 3rem;
}
.spacer-60 {
  height: 6rem;
}
.spacer-100 {
  height: 10rem;
}
.twoBtnHalf {
  position: relative;
  display: block;
  margin-bottom: 3rem;
}
.twoBtnHalf:after {
  content: '';
  display: block;
  clear: both;
}
.twoBtnHalf .btnHalf {
  display: block;
  width: 50%;
  float: left;
}
.twoBtnHalf .btnHalf .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  border: none;
}
.spacer {
  display: block;
  clear: both;
}
.spacer-5 {
  height: .5rem;
}
.spacer-10 {
  height: 1rem;
}
.spacer-15 {
  height: 1.5rem;
}
.spacer-30 {
  height: 3rem;
}
@font-face {
  font-family: solomonBlack;
  src: url(../../typo/solomon_sans_black.otf) format('opentype');
}
@font-face {
  font-family: solomonBold;
  src: url(../../typo/solomon_sans_bold.otf) format('opentype');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 2rem;
}
.english {
  display: block;
  color: #93c01f;
  font-style: italic;
  margin: .7rem 0 2rem 0;
}
a {
  color: #93c01f;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
a:hover {
  color: #7ba81f;
}
.borderContent {
  display: block;
  border: 0.1rem solid #d2d2d2;
  padding: 3rem;
  margin: 3rem 0;
}
.greenTypo {
  color: #93c01f;
}
.blueTypo {
  color: #14445e;
}
.plusPetit {
  display: block;
  margin-top: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
/*CSS par defaut*/
.reportTable {
  display: block;
  width: 100%;
}
.reportTable tr {
  background: #f8f8f8;
  padding: 5px;
}
.reportTable tr:hover {
  background: #eee;
}
/*--------------
-- COMPONENTS --
--------------*/
.banner__top img {
  display: block;
  width: 100%;
  height: auto;
}
.banner__top-nav {
  position: relative;
  display: block;
  font-size: 1.4rem;
  background-color: #14445e;
}
.banner__top-nav:after {
  content: '';
  display: block;
  clear: both;
}
.banner__top-nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  color: white;
}
.banner__top-nav .siteTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 6rem;
  float: left;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
.banner__top-nav .siteTitle-small {
  font-size: 1.2rem;
}
.banner__top-nav button {
  display: block;
  border: none;
  color: white;
  height: 6rem;
  width: 20%;
  background-color: #14445e;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  float: left;
  padding: 0;
  font-size: 1.6rem;
}
.banner__top-nav button:hover {
  cursor: pointer;
  color: #93c01f;
  background-color: #143b54;
}
.main--footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 3rem;
  z-index: 1;
  background-color: white;
}
.main--footer img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 14rem;
  margin: 0 auto;
}
input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  color: #14445e;
  border: 0.1rem solid #d2d2d2;
  font-size: 1.4rem;
}
input::-webkit-input-placeholder {
  color: #14445e;
  font-size: 1.4rem;
}
input:-moz-placeholder {
  color: #14445e;
  font-size: 1.4rem;
}
input::-moz-placeholder {
  color: #14445e;
  font-size: 1.4rem;
}
input:-ms-input-placeholder {
  color: #14445e;
  font-size: 1.4rem;
}
.btnTxt {
  display: block;
  text-align: center;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 0;
  border-radius: 0 !important;
  color: #14445e;
  margin-top: 1.5rem;
  text-decoration: underline;
}
.supprimer {
  display: block;
  text-align: left;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 0;
  background-color: transparent;
  border-radius: 0 !important;
}
.supprimer {
  color: #93c01f;
}
.btn {
  display: block;
  padding: 1.5rem 1rem;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.btn-green {
  background-color: #93c01f;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-green:hover {
  color: white;
  background-color: #7ba81f;
}
.btn-gray {
  background-color: #d2d2d2;
  color: #14445e;
  border: 0.1rem solid #d2d2d2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-gray:hover {
  color: white;
  background-color: #939393;
}
.paginate_button {
  background: transparent !important;
  border: none !important;
}
.paginate_button.current {
  color: #93c01f !important;
  font-weight: 700;
}
.waves-effect {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
.waves-circle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}
.waves-block {
  display: block;
}
/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}
.qrCode {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 4.5rem auto;
  font-size: 10rem;
}
.qrCode .txt {
  font-size: 1.4rem;
  font-weight: 700;
}
.qrCode .txt .english {
  margin-bottom: 0;
}
.qrCode i {
  margin-top: .7rem;
}
.qrCode input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.qrCode .hautDroit {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-top: 0.6rem solid #14445e;
  border-left: 0.6rem solid #14445e;
}
.qrCode .basDroit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-bottom: 0.6rem solid #14445e;
  border-left: 0.6rem solid #14445e;
}
.qrCode .hautGauche {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-top: 0.6rem solid #14445e;
  border-right: 0.6rem solid #14445e;
}
.qrCode .basGauche {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-bottom: 0.6rem solid #14445e;
  border-right: 0.6rem solid #14445e;
}
.qrCode input {
  border: none;
}
.msg {
  display: block;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}
.msg--alert {
  background: #eb212e;
}
.msg--warning {
  background: #ffd400;
}
.msg--success {
  background: #93c01f;
}
.msg hr {
  display: block;
  padding: 0;
  margin: 1.5rem auto;
  color: pink;
  border: none;
  width: 100%;
  height: 0.1rem;
  background-color: black;
  opacity: 0.25;
}
.mobileOnlyMsg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #93c01f;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.mobileOnlyMsg i {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}
.participantCounter {
  position: relative;
  display: block;
  width: 100%;
}
.participantCounter:after {
  content: '';
  display: block;
  clear: both;
}
.participantCounter-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 6rem;
  float: left;
  color: #14445e;
  font-size: 1.4rem;
  text-align: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: inset 0 0 0 0.2rem #93c01f;
}
.participantCounter-title span {
  display: block;
  padding: 1.5rem;
}
.participantCounter-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 6rem;
  float: left;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  background-color: #93c01f;
}
.participantCounter-number a {
  color: white;
}
.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}
.login form {
  display: block;
  width: 100%;
}
.login .mainTitle h1:first-child {
  margin-bottom: 0;
}
.login .mainTitle h1:last-child {
  margin-bottom: 3rem;
}
.login p {
  text-align: center;
  margin: 0 0 3rem 0;
}
.login input[type="submit"] {
  display: block;
  padding: 1.5rem;
  color: white;
  background-color: #93c01f;
  text-align: center;
  font-size: 1.4rem;
}
.liste--exposants {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.liste--exposants li {
  display: block;
  list-style: none;
  margin: 0;
}
.liste--exposants li .btn {
  margin-bottom: 1.5rem;
}
.liste--exposants-front li {
  line-height: 1.5;
  padding: 3rem 0;
  border-bottom: 0.1rem solid #d2d2d2;
}
.liste--exposants-front li:first-child {
  border-top: 0.1rem solid #d2d2d2;
}
.liste--exposants-front .btn {
  margin: 1.5rem 0;
}
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 1024px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr:nth-child(odd) {
    background-color: #f7f7f7 !important;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    display: block;
    padding: 1.5rem;
  }
  td:before {
    /* Now like a table header */
    position: relative;
    /* Top/left values mimic padding */
    top: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    margin-bottom: .5rem;
  }
  td:nth-of-type(1):before {
    content: "Prénom";
  }
  td:nth-of-type(2):before {
    content: "Nom";
  }
  td:nth-of-type(3):before {
    content: "Compagnie";
  }
  td:nth-of-type(4):before {
    content: "Courriel";
  }
  td:nth-of-type(5):before {
    content: "Téléphone";
  }
  td:nth-of-type(6):before {
    content: "PDF";
  }
  td:nth-of-type(7):before {
    content: "Options";
  }
}
.table.dataTable tbody th,
table.dataTable tbody td {
  padding: 1.5rem !important;
}
.table.dataTable tbody th a,
table.dataTable tbody td a {
  text-transform: lowercase;
}
table.dataTable tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.dataTables_wrapper .dataTables_filter input {
  margin: 3rem 0 !important;
}
.dataTables_length {
  padding: 3rem !important;
}
.dataTables_info,
.dataTables_paginate.paging_simple_numbers {
  display: block;
  padding: 3rem 0 !important;
}
.addParticipant h1 {
  margin-bottom: 3rem;
}
.addParticipant input {
  margin-bottom: 1.5rem;
}
.btnAdmin {
  position: relative;
  display: block;
}
.btnAdmin:after {
  content: '';
  display: block;
  clear: both;
}
.btnAdmin .btnAdminHalf {
  display: block;
  width: 50%;
  float: left;
  border: none;
}
.btnAdmin .btnAdminHalf a {
  text-align: center;
  border: none;
}
.btnAdmin .btnAdminThird {
  display: block;
  width: calc(28.833333%);
  float: left;
  border: none;
  margin-right: 1.5rem;
}
@media (min-width: 990px) {
  .btnAdmin .btnAdminThird {
    width: 100%;
    margin-right: 0;
  }
}
.btnAdmin .btnAdminThird:last-child {
  margin-right: 0;
}
.btnAdmin .btnAdminThird a {
  display: block;
  text-align: center;
  padding: 1.5rem;
  border: 0.2rem solid #93c01f;
  font-size: 2rem;
  margin-top: 1.5rem;
}
@media (min-width: 990px) {
  .btnAdmin .btnAdminThird a {
    padding: .5rem;
    text-align: left;
    display: block;
    border: none;
    font-size: 1.6rem;
    margin-top: 0;
    color: #14445e;
  }
}
.btnAdmin .btnAdminThird a:hover {
  color: white;
  background-color: #93c01f;
}
@media (min-width: 990px) {
  .btnAdmin .btnAdminThird a:hover {
    color: #93c01f;
    background-color: transparent;
  }
}
.btnDisable {
  display: none;
}
.splashpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center bottom;
  background-size: cover;
}
.splashpage-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  height: auto;
  z-index: 2;
}
.splashpage #splashLoading {
  display: block;
  margin: 3rem 0;
}
.splashpage #splashLoading:after {
  content: '';
  display: block;
  clear: both;
}
.splashpage #splashLoading span {
  display: inline-block;
  width: 0rem;
  float: left;
  height: .6rem;
  background-color: #93c01f;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.splashpage #splashLoading span.active {
  width: 3rem;
  background-color: #93c01f;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.splashpage .btn {
  display: block;
  width: 100%;
  max-width: 20rem;
}
