//Init font
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  color: @darkBlue;
  font-family: 'Arial', sans-serif;
  line-height: 1.3;
}

a,
:visited,
:focus,
:active,
:hover {
  outline: none;
  text-decoration: none;
}

.tempKill{
  display: none;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}