#bodyWrapper {
  position: relative;
  max-width: 950px;
  margin: auto;
  //min-height: 100vh;
}

.bodyWrapper-content {
  position: relative;
  display: block;
  padding: 3rem;
  text-align: center;
}

.spacer {
  position: relative;
  display: block;
  &-30 {
    height: 3rem;
  }
  &-60 {
    height: 6rem;
  }
  &-100 {
    height: 10rem;
  }
}

.twoBtnHalf {
  position: relative;
  display: block;
  margin-bottom: 3rem;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .btnHalf {
    display: block;
    width: 50%;
    float: left;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      border: none;
    }
  }
}

//Spacer
.spacer {
  display: block;
  clear: both;
  &-5 {
    height: .5rem;
  }
  &-10 {
    height: 1rem;
  }
  &-15 {
    height: 1.5rem;
  }
  &-30 {
    height: 3rem;
  }
}