@font-face {
  font-family: solomonBlack;
  src: url(../../typo/solomon_sans_black.otf) format('opentype');
}

@font-face {
  font-family: solomonBold;
  src: url(../../typo/solomon_sans_bold.otf) format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

.english {
  display: block;
  color: @green;
  font-style: italic;
  margin: .7rem 0 2rem 0;
}

a{
  color: @green;
  transition: .3s ease;
  &:hover{
    color: @darkGreen;
  }
}

.borderContent{
  display: block;
  border: 0.1rem solid @gray;
  padding: 3rem;
  margin: 3rem 0;
}

.greenTypo{
  color: @green;
}
.blueTypo{
  color: @darkBlue;
}

.plusPetit{
  display: block;
  margin-top: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}