.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  form {
    display: block;
    width: 100%;
  }
  .mainTitle h1:first-child {
    margin-bottom: 0;
  }
  .mainTitle h1:last-child {
    margin-bottom: 3rem;
  }
  p {
    text-align: center;
    margin: 0 0 3rem 0;
  }
  input[type="submit"] {
    display: block;
    padding: 1.5rem;
    color: white;
    background-color: @green;
    text-align: center;
    font-size: 1.4rem;
  }
}

.liste--exposants {
  padding: 0;
  margin: 0;
  line-height: 1;
  li {
    display: block;
    list-style: none;
    margin: 0;
    .btn {
      margin-bottom: 1.5rem;
    }
  }
  &-front {
    li {
      &:first-child {
        border-top: 0.1rem solid @gray;
      }
      line-height: 1.5;
      padding: 3rem 0;
      border-bottom: 0.1rem solid @gray;
    }
    .btn {
      margin: 1.5rem 0;
    }
  }
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr:nth-child(odd) {
    background-color: #f7f7f7 !important;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    display: block;
    padding: 1.5rem;
  }

  td:before {
    /* Now like a table header */
    position: relative;
    /* Top/left values mimic padding */
    top: 0;
    left: 0;
    width: 100%;
    //padding: 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    margin-bottom: .5rem;
  }

  td:nth-of-type(1):before {
    content: "Prénom";
  }

  td:nth-of-type(2):before {
    content: "Nom";
  }

  td:nth-of-type(3):before {
    content: "Compagnie";
  }

  td:nth-of-type(4):before {
    content: "Courriel";
  }

  td:nth-of-type(5):before {
    content: "Téléphone";
  }

  td:nth-of-type(6):before {
    content: "PDF";
  }

  td:nth-of-type(7):before {
    content: "Options";
  }
}

.table.dataTable tbody th,
table.dataTable tbody td {
  padding: 1.5rem !important;
  a{
    text-transform: lowercase;
  }
}

table.dataTable tbody tr {
  &:nth-child(odd) {
    background-color: #f4f4f4;
  }
}

.dataTables_wrapper .dataTables_filter input {
  margin: 3rem 0 !important;
}

.dataTables_length {
  padding: 3rem !important;
}

.dataTables_info,
.dataTables_paginate.paging_simple_numbers {
  display: block;
  padding: 3rem 0 !important;
}

.addParticipant {
  h1 {
    margin-bottom: 3rem;
  }
  input {
    margin-bottom: 1.5rem;
  }
}

.btnAdmin {
  position: relative;
  display: block;
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .btnAdminHalf {
    display: block;
    width: 50%;
    float: left;
    border: none;
    a {
      text-align: center;
      border: none;
    }
  }
  .btnAdminThird {
    display: block;
    width: calc(33.333333% - 4.5rem);
    float: left;
    border: none;
    margin-right: 1.5rem;
    @media (min-width: 990px) {
      width: 100%;
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      text-align: center;
      padding: 1.5rem;
      border: 0.2rem solid @green;
      font-size: 2rem;
      margin-top: 1.5rem;
      @media (min-width: 990px) {
        padding: .5rem;
        text-align: left;
        display: block;
        border: none;
        font-size: 1.6rem;
        margin-top: 0;
        color: @darkBlue;
      }
      &:hover {
        color: white;
        background-color: @green;
        @media (min-width: 990px) {
          color: @green;
          background-color: transparent;
        }
      }
    }
  }
}

.btnDisable{
  display: none;
}