.banner__top {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &-nav {
    position: relative;
    display: block;
    font-size: 1.4rem;
    background-color: @darkBlue;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    a {
      display: flex;
      align-items: center;
      //height: 6rem;
      padding: 1.5rem;
      color: white;
    }
    .siteTitle{
      display: flex;
      justify-content: center;
      align-items: center;
      width: percentage(6/10);
      height: 6rem;
      float: left;
      color: white;
      font-size: 1.4rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .2rem;
      &-small{
        font-size: 1.2rem;
      }
    }
    button {
      display: block;
      border: none;
      color: white;
      height: 6rem;
      width:percentage(2/10);
      background-color: @darkBlue;
      transition: .3s ease;
      float: left;
      padding: 0;
      font-size: 1.6rem;
      &:hover{
        cursor: pointer;
        color: @green;
        background-color: #143b54;
      }
    }
  }
}