.btnTxt{
  display: block;
  text-align: center;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 0;
  border-radius: 0 !important;
  color: @darkBlue;
  margin-top: 1.5rem;
  text-decoration: underline;
}
.supprimer {
  display: block;
  text-align: left;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 0;
  background-color: transparent;
  border-radius: 0 !important;
}

.supprimer {
  color: @green;
}

.btn {
  display: block;
  padding: 1.5rem 1rem;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  &-green {
    background-color: @green;
    color: white;
    transition: 0.3s ease;
    &:hover {
      color: white;
      background-color: @darkGreen;
    }
  }
  &-gray{
    background-color: @gray;
    color: @darkBlue;
    border: 0.1rem solid @gray;
    transition: 0.3s ease;
    &:hover {
      color: white;
      background-color: #939393;
    }
  }

}

.paginate_button {
  background: transparent !important;
  border: none !important;
  &.current {
    color: @green !important;
    font-weight: 700;
  }
}

.waves-effect {
  position: relative;
  display: block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: transform, opacity;
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}