.participantCounter {
  position: relative;
  display: block;
  width: 100%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &-title {
    display: flex;
    width: 70%;
    height: 6rem;
    float: left;
    color: @darkBlue;
    font-size: 1.4rem;
    text-align: left;
    align-items: center;
    box-shadow: inset 0 0 0 .2rem @green;
    span{
      display: block;
      padding: 1.5rem;
    }
  }
  &-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 6rem;
    float: left;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    background-color: @green;
    a{
      color: white;
    }
  }
}