.main--footer{
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 3rem;
  z-index: 1;
  background-color: white;
  img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 14rem;
    margin: 0 auto;
  }
}