input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  color: @darkBlue;
  border: .1rem solid @gray;
  font-size: 1.4rem;

  .placeholder({ color: @darkBlue; font-size: 1.4rem; });

  .placeholder(@rules) {

    &::-webkit-input-placeholder {
      @rules();
    }
    &:-moz-placeholder {
      @rules();
    }
    &::-moz-placeholder {
      @rules();
    }
    &:-ms-input-placeholder {
      @rules();
    }
  }
}