.msg {
  display: block;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  &--alert {
    background: @red;
  }
  &--warning {
    background: @yellow;
  }
  &--success {
    background: @green;
  }
  hr {
    display: block;
    padding: 0;
    margin: 1.5rem auto;
    color: pink;
    border: none;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    opacity: 0.25;
  }
}

.mobileOnlyMsg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: @green;
  color: white;
  font-size: 2rem;
  text-align: center;
  i{
    font-size: 6rem;
    margin-bottom: 1.5rem;
  }
}