@sizeOne: 4.5rem;
@sizeTwo: .5rem;

.qrCode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 4.5rem auto;
  font-size: 10rem;
  .txt{
    font-size: 1.4rem;
    font-weight: 700;
    .english{
      margin-bottom: 0;
    }
  }
  i {
    margin-top: .7rem;
  }
  input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0
  }
  .hautDroit {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-top: 0.6rem solid @darkBlue;
    border-left: 0.6rem solid @darkBlue;
  }
  .basDroit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-bottom: 0.6rem solid @darkBlue;
    border-left: 0.6rem solid @darkBlue;
  }
  .hautGauche {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-top: 0.6rem solid @darkBlue;
    border-right: 0.6rem solid @darkBlue;
  }
  .basGauche {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-bottom: 0.6rem solid @darkBlue;
    border-right: 0.6rem solid @darkBlue;
  }
  input {
    border: none;
  }
}