.splashpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-position: center bottom;
  background-size: cover;
  &-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    height: auto;
    z-index: 2;
  }
  #splashLoading {
    display: block;
    margin: 3rem 0;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    span {
      display: inline-block;
      width: 0rem;
      float: left;
      height: .6rem;
      background-color: @green;
      transition: .3s ease;
      &.active {
        width: 3rem;
        background-color: @green;
        transition: .3s ease;
      }
    }
  }
  .btn {
    display: block;
    width: 100%;
    max-width: 20rem;
  }
}

